*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
    
    
    
    /*{color:green;*/
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
    body{
        background-color: aqua;
    }
    #contact {
        background-color: gold;
    }

    p{color-scheme: blue    ;}

    .my-ps {
        background-color: aquamarine;
    }
    .my-width {
        width: 100px;   
    }
    li{
        color: hotpink
    }

    .box {
        color: azure;
        font-weight: 600;
        background-color: blue;
        /* padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px; */
        /* padding: 10px;
        border-color: black;
        border-style: solid; */
        border: solid 3px black;
        border-radius: 10px;
        text-transform: capitalize;


        margin: 10px 20px;

    }

    footer{
        background-color: tan;
    }
    
        footer > ul > li {
            color: blueviolet;
        }

        footer {
            background-color: red;
            border-radius: 50px;
        }
    
